body {
	padding-top: 60px;
	padding-bottom: 40px;
}

#wordmark {
	background:url("../img/wordMarkBkg.png") repeat-x scroll center bottom #FFFFFF;
	text-align: center;
}

a.greyed {
	color: #999;
}

a.xdelete {
	margin-left: 20px;
}

.clear {
	clear: both;
}

th[scope="row"] {
	text-align: right;
	width: 280px;
	color: #006;
}

ul#user_privs li {
	margin: 9px 0;
}

ul.participants li {
	margin: 8px 0;
}
